<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <!--add boostrap table code-->

  <div class="row">
    <div class="col-md-offset-3 col-md-8">
      <h1><%=title %></h1>
      <% if(typeof displayName == 'string' && displayName) { %>
      <a href="/contactlist/add" class="btn btn-primary" role="button">
      <i class ="fas fa-plus-circle"></i> Add a New Contact
      <%}%>
      </a>
      <br />
      <table class="table table-bordered table-striped table-hover">
        <!--HEader row-->
        <tr>
          
            <th class="text-center">Contact Name</th>
            <th class="text-center">Contact Number</th>
            <th class="text-center">Email Address</th>
            <% if(typeof displayName == 'string' && displayName) { %>
         
          <th class="text-center"></th>
          <th class="text-center">Contact Number</th>
          <th class="text-center">Email Address</th>
        
          <%}%>
        </tr>

        <!--Repetable Templet row-->
        <% for (let count=0; count<ContactList.length; count++){%>
          <tr>
            <td class="text-centre "><%=ContactList[count].name %></td>
            <td class="text-centre "><%=ContactList[count].phoneNumber %></td>
            <td class="text-centre "><%=ContactList[count].email %></td>
            
            
            <% if(typeof displayName == 'string' && displayName) { %>
            <td class="text-center col-1">
              <a href="/contactlist/edit/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm">
              <i class="fas fa-pencil-alt"></i> Edit</a>
          </td>
          <td class="text-center col-1">
              <a href="/contactlist/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i> Delete</a>
          </td>
          
          <%}%>  
          </tr>
        <%}%>
      </table>
    </div>
  </div>
</main>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
